#root{
  width: 100%;
}
body{
  background-color: #212020;
  color: white;
  text-align: center;
  /* justify-content: center; */
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(120px , 1fr));
  grid-auto-rows: 120px;
  justify-content: center;
  gap: 15px;
  width: 900px;
  margin: auto;
}

.flip-card {
  background-color: transparent;
  cursor: pointer;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #5d5c5c;
  color: black;
  border-radius: 10px;

}

/* Style the back side */
.flip-card-back {
  background-color: rgb(4, 4, 5);
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;

}
.flip-card-back {
  font-size: 50px;
  display: grid;
  place-items: center;

}
.congratulations{
  background-color: rgba(0, 0, 0, 0.459);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 30px;
}